#switch img {
  width: 32px;
  height: 32px;
  animation: girar 5s linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
